.bg-ende{
    background-image: linear-gradient(to right,#4834d4, #7ed6df);
}
.text-label{
    color: #c7ecee;
}
.nav-link{
    color: #130f40!important;
}
.nav-link.active {
    background-color: #130f40!important;
    color: #ffffff!important;
}
.box-about{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.0px );
    -webkit-backdrop-filter: blur( 2.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}